/*ESTILOS GENERALES*/

*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

body{
  font-family: Helvetica, Arial;
}

/* ENCABEZADO */
header{
  width: 100%;
  height: 100px;
  background-color: #fcfff5;
}

header .contenedor{
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: white;
}

header .logo{
  display: flex;
  align-items: center;
  padding-left: 25px;
}

.logo img{
  margin-right: 10px;
  width: 90px;
  border-radius: 60px;
}

header .logo h7{
  font-size: 18px;
  color: #7a7a7a;
}

.menu_bar{
  display: none;
}

.menu{
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.menu a{
  text-decoration: none;
  color: #7a7a7a;
  font-size: 16px;
  padding: 10px;
  text-transform: uppercase;
}

.menu a:hover{
  background-color: rgba(15, 78, 205, 0.5);
}

@media all and (max-width:1024px){

  header .logo{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-top: 20px;
  }

  .menu_bar{
    display: flex;
    align-items: center;
    margin-top: 20px;
    margin-right: 20px;
    font-size: 20px;
  }

  .menu_bar a{
    text-decoration: none;
    color: black;
    font-weight: bold;
  }

  .icon-menu3{
    font-size: 20px;
  }

  .menu{
  width: 50%;
  display: block;
  position: absolute;
  right: 0%;
  top: 16%;
  border-bottom: 1px solid rgba(255,255,255,0.3);
  background: #024959;
  display: none;
  }

  .menu a{
    display: block;
    text-align: right;
    border: 1px solid rgba(0,0,0,0.5);
    color: black;
  }
}
/* FIN DE ENCABEZADO */

/* BANNER PRINCIPAL */

.banner{
  width: 100%;
  height: 400px;
  background-image: url(img/foto-docente.jpg);
  background-position: left;
  background-size: cover;
  margin-bottom: 20px;
}

.banner > div{
  width: 100%;
  height: 100%;
}

.llamada-accion{
  text-align: center;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.llamada-accion h2{
  font-size: 40px;
  color: black;
  width: 100%;
  padding: 20px 0;
  background-color: rgba(255, 255, 255, 0.6);
  max-width: 470px;
}

@media all and (max-width:769px){
  .banner{
    width: 100%;
    height: 500px;
    background-image: url(img/foto-docente.jpg);
    background-position: top;
    background-size: cover;
    margin-top: 30px;
  }

  .llamada-accion h2{
    font-size: 36px;
  }
}
/* FIN DE BANNER PRINCIPAL */

/* SECCIÓN DE ARTICULOS */

.box{
  padding: 20px;
}

.Acordeon h2{
  margin-top: 10px;
  margin-bottom: 10px;
}

.Acordeon h3{
  font-weight: bold;
}

.Acordeon h3:hover{
  background-color: rgba(27, 42, 141, 0.5);
}

.Acordeon div ol{
    padding-left: 20px;
}

.Acordeon div li{
    margin-top: 10px;
    margin-bottom: 10px;
}

.Acordeon div a{
  text-decoration: none;
  color: blue;
}

.Acordeon div a:hover{
  color: red;
  background-color: rgba(0, 0, 0, 0.2);
}

@media all and (max-width:769px){
  .Acordeon{
  text-align: justify;
  }
}

/* FIN SECCIÓN DE ARTICULOS */

/* PIE DE PÁGINAS */

.top-footer{
  background-color: #193441;
  height: 32px;
}

.center-footer{
  background-color: #152d37;
}

.center-footer .contenedor{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.center-footer .contenedor .widget{
  margin-top: 10px;
}

.center-footer .contenedor .widget img{
  height: 50px;
}

.center-footer .contenedor .widget a:hover img{
    height: 70px;
}

.bottom-footer{
  background-color: #193441;
  height: 32px;
}

.bottom-footer p{
  font-size: 16px;
  color: #7a7a7a;
  text-align: center;
}
/* FIN PIE DE PÁGINAS */
