:root{
  --principal: rgb(23,49,61);
  --blanco: #ffffff;
  --resaltar-text: rgba(15, 78, 205, 0.5);
  --gris: #757575;
}

/* ENCABEZADO */
header .contenedor{
  height: 16rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  background-color: var(--principal);
}

header .logo{
  display: flex;
  align-items: center;
}

.logo img{
  width: 9rem;
  border-radius: 6rem;
}

header .logo h7{
  font-size: 1.8rem;
  font-weight: bold;
  color: var(--blanco);
  padding: 1rem;
}

.menu_bar{
  display: none;
}

.menu{
  display: flex;
  align-items: center;
  margin-right: 5px;
}

.menu a{
  text-decoration: none;
  color:var(--blanco);
  font-size: 1.8rem;
  padding: 1rem;
  text-transform: uppercase;
  font-weight: 900;
}

.menu a:hover{
  background-color: var(--resaltar-text);
}

@media all and (max-width:1024px){

  .Contenedor-LogoIcon{
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-top: 2rem;
  } 

  .menu_bar{
    display: flex;
    align-items: center;
  }

  .contenedor span{
    font-size: 5rem;
  }

  .menu_bar a{
    text-decoration: none ;
    color:var(--blanco);
  }

  .Contenedor-Menu{
    position: relative;
    width: 100%;
    display: block;
  }

  .menu{
  display:block;
  width: 80%;
  margin-top: 1.2rem;
  left: -100%;
  position: absolute;
  background: rgba(0, 0, 0, 0.87);
  }

  .menu a{
    display: block;
    padding: 2rem;
    text-align: left;
    color: var(--blanco);
    border-bottom: 1px solid var(--blanco);
  }
}
/* FIN DE ENCABEZADO */

/* PIE DE PÁGINAS */
.top-footer{
  background-color: var(--principal);
  height: 3.2rem;
}

.center-footer{
  background-color:rgba(0, 0, 0, 0.829);
}

.center-footer .contenedor{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.center-footer .contenedor .widget{
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.center-footer .contenedor .widget a{
  text-decoration: none;
}

footer .contenedor span{
  padding: 1rem;
  font-size: 4rem;
  background-color: rgba(0, 0, 0, 0.144);
}

.contenedor span:hover{
  font-size: 5rem;
}

.bottom-footer{
  background-color: var(--principal);
  height: 3.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bottom-footer p{
  font-size: 16px;
  color:var(--gris);
}
/* FIN PIE DE PÁGINAS */
